
.invImg {

    display: none;
}

#msg-window {
    
    height: 100px;
    background-color: #000000;
    overflow: scroll;
    color: white;
    
}

#send-msg {
    background-color: darkslategray;
    color: white;
}

#chat-window {
    background-color: #000000;
    resize: none;
    color: white;
}

#game-window {

    background-color: white;
    
    
}
