
.invImg {

    display: none;
}

#msg-window {
    
    height: 100px;
    background-color: #000000;
    
}

#send-msg {
    background-color: darkslategray;
    color: lightgray;
}

#chat-window {
    background-color: #000000;
    resize: none;
}

#game-window {

    width: 100%;
    height: 400px;
    background-color: #000000;
    
}
